.grid {
  display: grid;
  padding: 20px;
  &__container {
    @extend .grid;
    border: solid 2px magenta;
    height: 80%;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 20px 2fr 3fr 1.5fr;

    gap: 20px;
  }
  &__element {
    border: solid 2px orange;
  }

  //#gElement1 {
  //  grid-column: 1/3;
  //  grid-row: 1/2;
  //}
  #gElement3 {
    //row-start|col-end
    grid-area: 5 / 4;
  }
}
