.breed-details {
  &__wrapper {
    display: flex;
    justify-content: center;
  }
  &__image {
    height: 300px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }
  &__data {
    display: flex;
    flex-direction: column;
    width: 20em;
  }
}
